@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nohemi";
  src: url("../public/fonts/nohemi-variable.ttf");
}

@font-face {
  font-family: "Mermaid";
  src: url("../public/fonts/mermaid.ttf");
}
